<head>
<title><%=title%></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!-- 현재 페이지에 대한 css -->
    <link rel='stylesheet' href='/css/style.css' />
    <!-- 웹폰트 불러오기 -->
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
    <link href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" rel="stylesheet">
    <script>
    
    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;

        return [year, month, day].join('-');
    }
</script>
</head>