<head>
<title><%=title%></title>
	<meta charset="utf-8">
	<script src="/js/jquery-3.4.1.min.js"></script>
	<script src="/js/bootstrap.min.js" rel="javascript"></script>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!-- 현재 페이지에 대한 css -->
    <link rel='stylesheet' href='/css/style.css' />
    <!-- 웹폰트 불러오기 -->
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
    <link href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" rel="stylesheet">
</head>